<%= form_with(model: laudu, local: true) do |form| %>
  <% if laudu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(laudu.errors.count, "error") %> prohibited this laudu from being saved:</h2>

      <ul>
      <% laudu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :userId %>
    <%= form.number_field :userId %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
