<div style="width:80%;margin:0 auto;">
  <h1>Ingrese nueva Solicitud</h1>
  <%= form_with(model: @solicitudes, local: true) do |form| %>
    <% if @solicitudes.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@solicitudes.errors.count, "Error") %> al ingresar la solicitud:
          </h2>
          <ul>
            <% @solicitudes.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.text_field :titulo, placeholder: "Nombre Identificador", class:"form-control" %>
      </div>

      <div class="field">
        <%= form.text_area :texto, placeholder: "Solicitud", style:"height:200px;", class:"form-control" %>
      </div><br/>

      <div class="field">
        <%= form.label :Fecha_deseada_de_materiales, class:"text-tamaño" %>
        <%= form.date_select :f_requerida, start_year: 2018, use_month_numbers: true%>
      </div><br/><br/>

      <div class="field">
        <%= form.submit "Siguiente", class:"btn be-color white"%>
        <%= link_to 'Cancelar', root_path, class:"btn btn-op2"%>
      </div>
    <% end %>
</div>
