<div style="width:80%;margin:0 auto;">
<h1><%= @solicitudes.titulo %></h1>

<p><strong>Descipcion:</strong>
  <%= @solicitudes.texto %><br/><br/>
</p>

<p><strong>Estado:</strong>
  <%= @solicitudes.estado %><br/><br/>
</p>

<p><strong>Solicitado por:</strong>
  <%= @solicitudes.user.nombre %><br/><br/>
</p>

<p><strong>Fecha Solicitud:</strong>
  <%= @solicitudes.created_at %><br/><br/>
</p>

<p><strong>Fecha Requerida:</strong>
  <%= @solicitudes.f_requerida %><br/><br/>
</p>

<p><strong>Fecha Estimada:</strong>
  <% if @solicitudes.f_estimada == nil %>
    Sin definir
  <%else%>
    <%= @solicitudes.f_estimada %>
  <%end%>
</p><br/><br/><br/>

<% if current_user.tipo == "Bodeguero" %>
  <%= link_to 'Actualizar', edit_solicitude_path(@solicitudes), class:"btn btn-op2" %>
<%end%>
<%= link_to 'Volver', solicitudes_path, class: "btn btn-op2" %>
<div style="width:80%;margin:0 auto;">
