<div style="width:80%;margin:0 auto;">

  <h1><%= "Pedir Material a Comprar" %></h1>
  <%= form_with(model: @notmaterials, local: true) do |form| %>
    <% if @notmaterials.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@notmaterials.errors.count, "Error") %> al ingresar la solicitud:
          </h2>
          <ul>
            <% @notmaterials.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

  <p><strong>Material:</strong>
    <%= @materials.nombre %>
  </p>

  <p><strong>Cantidad Actual:</strong>
    <%= @materials.cantidad %>
    <%= @materials.unidad %>
  </p>

  <div class="field">
  <strong><%= form.label :cantidad,"Cantidad a Pedir:" %></strong>
    <%= form.number_field :cantidad, min: 0, :value => 0%>
    <%= form.hidden_field :nombre, value: @materials.nombre %>
    <%= form.hidden_field :unidad, value: @materials.unidad %><br/><br/>
  </div>

  <div class="field">
    <%= form.submit "Aceptar", class:"btn be-color white"%>
    <%= link_to 'Cancelar', materials_path, class:"btn btn-op2"%>
  </div>
  <%end%>
</div>
