<div style="width:80%;margin:0 auto;">
  <br/><p><strong>Material Deseado:</strong>
    <%= @notmaterials.nombre %><br/><br/>
  </p>

  <p><strong>Cantidad Solicitada:</strong>
    <%= @notmaterials.cantidad %>
    <%= @notmaterials.unidad %><br/><br/>
  </p>

  <p><strong>Fecha Pedido:</strong>
    <%= @notmaterials.created_at %>
  </p><br/><br/>

  <% if current_user.tipo == "Bodeguero" %>
    <%= link_to 'Volver', materials_path, class: "btn btn-op2" %>
  <% else %>
    <%= link_to 'Volver', not_materials_path, class: "btn btn-op2" %>
  <%end%>
</div>
