<!DOCTYPE html>
<html>
  <head>
    <title>Test-proyecto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="be-color white large-padding">
        <ul class="no-list row center-xs middle-xs">
          <li class="col-md">
            <h1 class="no-margin" id="logo"><%= link_to 'GPI', root_path %></h1>
          </li>
          <% if user_signed_in? %>
            <%if current_user.tipo == "Compra" %>
              <li class="col-md">
                <%= link_to 'Materiales Faltantes', not_materials_path %>
              </li>
              <li class="col-md">
                <%= link_to 'Ver Ordenes', orders_path %>
              </li>
            <%else%>
              <% if current_user.tipo == "Obra" %>
                <li class="col-md">
                  <%= link_to 'Nueva Solicitud', new_solicitude_path %>
                </li>
              <% else%>
                <li class="col-md">
                  <%= link_to 'Ver Materiales', materials_path %>
                </li>
              <%end%>
              <li class="col-md">
                <%= link_to 'Ver Solicitudes', solicitudes_path %>
              </li>
            <%end%>
            <li class="col-md">
              <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %>
            </li>
          <%else%>
            <li class="col-md">
              <%= link_to "Iniciar Sesion",new_user_session_path %>
            </li>
            <li class="col-md">
              <%= link_to "Crear Cuenta", new_user_registration_path %>
            </li>
          <%end%>
        </ul>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
